h1 {
    display: flex;
    background-color: lightyellow;
    margin:3%;
    
}

h2{
    display: flex;
}

h3{
    display: flex;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

li{
    flex-wrap: wrap;
    margin-right: 60px;
    list-style: none;
}

.edge{
    margin-left: 40px;
}